:root{
  /*
  background-color: gray; 
  */
  background-image: url('./quiztime.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.App {
  font-family: 'Oxanium', cursive;
  display: grid !important;
  text-align: center;
  background-color: rgb(57, 25, 175);
  margin:20ch;
  border-radius: 45px;
}

.categories{
  background-color:rgb(57, 25, 175)!important;
  display: flex;
  justify-content: center !important;
  color: white !important;
}

.answer{
  color: white !important;

}

.endGame{
  color: black;
  text-shadow: black;
  display: flex;
  margin-top: 200px !important;
  flex-direction: column;
  background-color: rgb(57, 25, 175);
  border-radius: 25px;
  margin: 20px;
  text-align: center;
 
}

.Cia{
  display: grid;
}

